body{

    background: url(bg2.jpg) no-repeat;

    background-size: cover;
    background-attachment: fixed;
  }

  #spotify-container {
    background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #spotify-title {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

#projects-title{
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

  .profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
 
    background-image: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
    opacity: 0.9; 
    

  }
  
#projects-container{

  background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b, #3a1c71);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

  .profile-description img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-description h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .profile-description p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  

  #change-track-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
 
  }




#axiscube1{
  height: 85%;
  width: 85%;
  transition: transform 0.2s ease-in-out;
  padding-bottom: 20px;
}

#axiscube2{
  height: 85%;
  width: 85%;
  transition: transform 0.2s ease-in-out;
 

  height: auto;
  border-radius: 8px; /* add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow effect */
}

#axiscube1:hover{
  transform: scale(1.05);
}

#linkspotify a{
  
    color: inherit;
    text-decoration: none;
 
}


.proaxiscube {
  
  text-align: center; /* center the contents of the container */
  position: relative; /* make the container position relative so we can position the hidden div */
  display: inline-block; /* make the container an inline-block so it only takes up as much space as the image */
}




#change-track-button:hover {

 background-color: #1ED760;
 transform: scale(1.2);

}
  
  .box{
    background-attachment: fixed;
    width: 450px;
    background: rgba(72, 74, 109, 0.5);
    padding: 70px;
    padding: auto;
    padding-bottom: 100px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    animation: slideUp 2.1s;
    will-change: transform, opacity;
     text-align: center
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 3px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
   
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  
  @keyframes ani { 
    0%{
        transform: translateY(20px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100px);
    }
  }

#projects{
    padding-top: 00px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Century Gothic',sans-serif;
}
  
.pr {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Century Gothic',sans-serif;
}

.pr a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    color: rgb(67, 180, 214);
}

.pr a:hover{
   font-size: 120%;
    color: rgb(0, 41, 128);
    background-color: transparent;
    text-decoration: none;
    font-weight: 900;
}