body{
    margin: 0;
    padding: 0;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
  }

  .box{
    width: 450px;
    background: rgba(72, 74, 109, 0.5);
    padding: 40px;
    padding: auto;
    padding-bottom: 100px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    animation: slideUp 2.1s;
    will-change: transform, opacity;
     text-align: center
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 3px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
   
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  
  @keyframes ani { 
    0%{
        transform: translateY(20px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100px);
    }
  }

#projects{
    padding-top: 00px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Century Gothic',sans-serif;
}
  
.pr {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Century Gothic',sans-serif;
}

.pr a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    color: rgb(67, 180, 214);
}

.pr a:hover{
   font-size: 120%;
    color: rgb(0, 41, 128);
    background-color: transparent;
    text-decoration: none;
    font-weight: 900;
}